@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

:root {
  --dark-background-color: #1f2937;
  --hero-primary-text: #f9faf8;
  --hero-secondary-text: #e5e7eb;
  --button-and-cta-color: #3882f6;
  --body-primary-bold-black: #1f2937;
  --quote-background: #e5e7eb;
  --quote-text-color: #1f2937;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100vw;
  height: 75vh;
  background-color: var(--dark-background-color);
  padding: 20px 200px;
}

/*  Navigation Bar */
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}
.company-logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--hero-primary-text);
}

.nav-links {
  display: flex;
  font-size: 18px;
  gap: 20px;
  color: var(--hero-secondary-text);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--hero-secondary-text);
}

/* Hero Section */
.hero-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-cta-text {
  width: 450px;
}

.hero-title {
  font-size: 49px;
  font-weight: extra-bold;
  color: var(--hero-primary-text);
}

.hero-secondary-text {
  font-size: 18px;
  color: var(--hero-secondary-text);
}

.hero-button {
  background-color: var(--button-and-cta-color);
  padding: 12px 28px;
  border: none;
  border-radius: 8px;
  color: var(--hero-primary-text);
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
}

.hero-cta-image > img {
  width: 500px;
  height: auto;
  border-radius: 18px;
}

/* Section, Random Cat Cards */

#about {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 75px;
}

.about-title {
  font-size: 36px;
  font-weight: extra-bold;
  color: var(--body-primary-bold-black);
  text-align: center;
  margin: 50px 0;
}

.cat-card {
  width: 350px;
  height: 350px;
  text-align: center;
  font-size: 18px;
}

.cat-card > img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5%;
}

.cat-card > p {
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
}

.section-cat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

/* Section, Quote */

#quote {
  width: 100vw;
  height: 50vh;
  background-color: var(--quote-background);
}

figure {
  width: 45vw;
  height: 50vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: light;
  color: var(--quote-text-color);
  text-align: justify;
}

figcaption {
  margin-top: 10px;
  align-self: flex-end;
  font-weight: bold;
}

/* Section, Call-to-Action */

#cta {
  width: 100vw;
  height: 46vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-container {
  width: 65vw;
  height: 22vh;
  padding: 0 95px;
  margin-bottom: 20px;
  background-color: var(--button-and-cta-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}

.cta-text h2 {
  font-weight: bold;
  font-size: 24px;
  color: var(--hero-primary-text);
  margin-bottom: 5px;
}

.cta-text p {
  color: var(--hero-primary-text);
  font-size: 18px;
}

.cta-button {
  background-color: var(--button-and-cta-color);
  padding: 12px 28px;
  border: 2px solid var(--hero-primary-text);
  border-radius: 8px;
  color: var(--hero-primary-text);
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
}

/* Footer */
.footer {
  height: 12vh;
  font-size: 18px;
  width: auto;
  background-color: var(--dark-background-color);
  color: var(--hero-secondary-text);
  display: flex;
  justify-content: center;
  align-items: center;
}
